<header class="navbar">
  <div class="navbar-container">
    <h1 class="navbar-title">Tiebe Tollenaere</h1>
    <nav class="navbar-links">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/skills" routerLinkActive="active">Skills & Experience</a>
      <a routerLink="/projects" routerLinkActive="active">Projects</a>
      <a routerLink="/blogs" routerLinkActive="active">Blogs & Events</a>
    </nav>
    <div class="navbar-social">
      <a href="https://github.com/Tiebe-Tollenaere" target="_blank" title="GitHub">
        <i class="github-icon">GitHub</i>
      </a>
      <a href="https://www.linkedin.com/in/tiebe-tollenaere-a319a2388/" target="_blank" title="LinkedIn">
        <i class="linkedin-icon">LinkedIn</i>
      </a>
    </div>
  </div>
</header>
