<app-header></app-header>

<main class="home-container">
  <section class="introduction">
    <div class="introduction-content">
      <h1>Welkom, ik ben Tiebe Tollenaere</h1>
      <p>Ik ben een gepassioneerde software developer met een sterke interesse in full-stack development en in opkomende technologieën.
         Ik werk graag met verschillende programmeertalen en (frontend) frameworks, en ik ben altijd op zoek naar nieuwe uitdagingen en kansen om mijn vaardigheden te verbeteren. 
         In mijn portfolio vind je een overzicht van projecten waarin ik mijn vaardigheden verder heb kunnen ontwikkelen.</p>
      <div class="introduction-buttons">
        <button class="btn btn-primary" (click)="openExternalLink(socialLinks.github)">GitHub</button>
        <button class="btn btn-secondary" (click)="openExternalLink(socialLinks.linkedin)">LinkedIn</button>
      </div>
    </div>
  </section>

  <section class="about-me">
    <h2>Over mij</h2>
    <div class="about-me-content">
      <img src="assets/aboutme.png" alt="About me" class="about-me-image" />
      <div class="about-me-text">
        <p>
          Ik studeer Toegepaste Informatica aan Howest in Brugge, met een focus op Software Engineering. 
          Tijdens mijn opleiding heb ik ervaring opgebouwd met onder andere Java, C#, TypeScript, Angular en Vue.js, .NET en enkele databasetechnologieën.
        </p>        
        <p>Ik ben iemand die graag nieuwe dingen probeert en niet blijft hangen in wat ik al ken en kan. Nieuwe technologieën uitzoeken en mezelf verbeteren is iets wat me echt motiveert. Naast het programmeren sport ik graag en kijk ik naar documentaires. Met mijn sterke werkethiek, mijn focus op kwaliteit en mijn enthousiasme voor leren, ben ik ervan overtuigd dat ik waardevolle bijdragen kan leveren aan elk team en project waar ik bij betrokken ben.</p>
      </div>
    </div>
  </section>

  <section class="technical-skills">
    <h2>Technical Skills</h2>
    <div class="skills-grid">
      <div class="skill-card" *ngFor="let skill of skills">
        <h3>{{ skill.category }}</h3>
        <ul>
          <li *ngFor="let item of skill.items">{{ item }}</li>
        </ul>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
