<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>Tiebe Tollenaere</h3>
    </div>

    <div class="footer-section">
      <h4>Links</h4>
      <ul>
        <li><a href="/#/home">Home</a></li>
        <li><a href="/#/projects">Projects</a></li>
        <li><a href="/#/blogs">Blogs & Events</a></li>
        <li><a href="/#/skills">Skills & Experience</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Contact</h4>
      <ul>
        <li>
          <a href="https://github.com/Tiebe-Tollenaere" target="_blank">GitHub</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/tiebe-tollenaere-a319a2388/" target="_blank">LinkedIn</a>
        </li>
        <li>
          <a href="mailto:tiebe.tollenaere@gmail.com">Email</a>
        </li>
        <li>
          <a href="/assets/Tiebe_Tollenaere_CV.pdf" target="_blank">Download CV</a>
        </li>
      </ul>
    </div>

    <div class="footer-copyright">
      <p>&copy; 2026 Tiebe Tollenaere. All rights reserved.</p>
    </div>
  </div>
</footer>
